openapi: 3.1.0
info:
  title: Torii Apps Audit API
  description: The Torii API provides programmatic access to the Torii SaaS Management Platform. It allows you to manage apps, users, contracts, licenses, audit logs, and file uploads. The API closely follows REST semantics, uses JSON to encode objects, and relies on standard HTTP codes to signal operation outcomes. Torii APIs consist of both proprietary and SCIM 2.0 APIs.
  version: 1.1.0
  contact:
    name: Torii
    url: https://developers.toriihq.com
  termsOfService: https://www.toriihq.com/terms
servers:
- url: https://api.toriihq.com/v1.0
  description: Torii API v1.0
- url: https://api.toriihq.com/v1.1
  description: Torii API v1.1
security:
- bearerAuth: []
tags:
- name: Audit
  description: Retrieve admin audit log entries.
paths:
  /audit:
    get:
      operationId: getAudit
      summary: Torii Get admin audit logs
      description: Retrieves admin audit log entries. Supports retrieving up to 1,000 audit log entries per request for efficient bulk data access.
      tags:
      - Audit
      parameters:
      - name: sort
        in: query
        description: Field to sort results by.
        schema:
          type: string
      - name: size
        in: query
        description: Number of results per page (max 1000).
        schema:
          type: integer
          maximum: 1000
      - name: cursor
        in: query
        description: Cursor for pagination to retrieve the next page of results.
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: A list of audit log entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the audit log entry.
        action:
          type: string
          description: The action that was performed.
        actor:
          type: string
          description: The user who performed the action.
        actorEmail:
          type: string
          format: email
          description: Email of the user who performed the action.
        target:
          type: string
          description: The target of the action.
        details:
          type: object
          description: Additional details about the action.
        createdAt:
          type: string
          format: date-time
          description: When the action was performed.
  responses:
    RateLimited:
      description: Rate limit exceeded. Too many requests.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
    Unauthorized:
      description: Authentication failed. Invalid or missing API key.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
  parameters:
    apiVersion:
      name: X-API-Version
      in: header
      description: 'Override the default API version. Supported values: 1.0, 1.1. Default is 1.0 for keys created before Feb 1st 2025, and 1.1 for keys created after.'
      schema:
        type: string
        enum:
        - '1.0'
        - '1.1'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key authentication. Generate an API key from Settings > API Access in Torii. Use the Authorization header: Bearer {API_KEY}.'
